<table class="table table-condensed table-bordered table-striped">
  <thead>
    <tr class="">
      <th>{{ country }}</th>
      <th>Ville</th>
      <th>Cours</th>
      <th>Avis</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    {% for university in universities %}
    <tr>
      <td><a href="{{  path('uvweb_foreignclasses_list', { 'uniId': university[0].id, 'order': 'name', 'category': 'all' }) }}">{{ university[0].name }}</a></td>
      <td>{{ university[0].locationCity }}</td>
      <td>{{ university.num_classes }}</td>
      <td>{{ university.num_comments }}</td>
      <td>{% if university.avg_rate %}{{ university.avg_rate }}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
