<table class="table table-condensed table-bordered {% block tableExtraClasses %}table-striped{% endblock %}">
	<thead>
		<tr class="{{ tableType }}">
			<th>{{ title }}</th>
			{% if noCommentCount is not defined %}
				<th>Avis</th>
			{% endif %}
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
		{% for uv in uvs %}
			<tr uv-name="{{ uv.name }}">
				<td><a class="uv-link" href="{{ path('uvweb_uv_detail' , { 'uvname': uv.name }) }}">{{ uv.name }}</a></td>
				{% if noCommentCount is not defined %}
					<td>{{ uv.commentCount }}</td>
				{% endif %}
				{% if highlightRates is defined and highlightRates == true %}
					{% if uv.globalRate > 7 %}
						<td class="text-success">{{ uv.globalRate | number_format(2, ',', '.') }}</td>
					{% elseif uv.globalRate < 5 %}
						<td class="text-error">{{ uv.globalRate | number_format(2, ',', '.') }}</td>
					{% else %}
						<td>{{ uv.globalRate | number_format(2, ',', '.') }}</td>
					{% endif %}
				{% else %}
					<td>{{ uv.globalRate | number_format(2, ',', '.') }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>