
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}UVweb{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alexandre Masciulli - Thomas Keunebroek - Maxime">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .navbar-search{
        margin-right: 20px;
      }
      .navbar-search .search-icon {
        z-index: 3;
      }
      .icon-search {
        position: absolute;
        top: 7px;
        right: 7px;
        display: block;
        width: 26px;
        height: 26px;
        cursor: pointer;
        }
      {% block style %}
      {% endblock %}
    </style>
    
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    {% endblock %}
<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('uvweb_uv_homepage') }}"><img src="{{ asset('img/uvweb_logo.png') }}"></a>

          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> 
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span>{{ app.user.identity }}</span>
              {% else %}
                <span>Non connecté</span>
              {% endif %}
              <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              {% if app.user is not null %}
                <li><a href="{{  path('uvweb_uv_profile' , { 'userid': app.user.id }) }}">Profil</a></li>
                <li class="divider"></li>

                {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{  path('uvweb_admin_home') }}">Modération</a></li>
                  <li class="divider"></li>
                {% endif %}

                <li><a href="{{ path('uvweb_logout') }}">Déconnexion</a></li>
              {% else %}
                <li><a href="{{  path('uvweb_login') }}">Connexion (CAS UTC)</a></li>
              {% endif %}
            </ul>

          </div>
            {% if searchbar is defined %}
          <form class="navbar-search pull-right" method='POST' {{ form_enctype(searchbar) }}>
              {% form_theme searchbar 'UvwebUvBundle::searchbar.html.twig' %}
              {{ form_widget(searchbar) }}
            <span class="icon-search">
<!--               <button type="submit" class="icon nav-search" tabindex="-1">
                <span class="visuallyhidden">
                </span>
              </button> -->
            </span>
          </form>
            {% endif %}
          <div class="nav-collapse collapse">
            <ul class="nav">
             <!-- <li class="active"><a href="#">Accueil</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        {% if app.session.flashbag.has('message_to_display') %}
          {% set message = app.session.flashbag.get('message_to_display')[0] %}
          <div class="row-fluid">
            <div class="span12">
              <div class="alert alert-{{ message.type }}">
                {{ message.content }}
              </div>
            </div>
        </div>
        {% endif %}

      <div class="row-fluid">

        {% block body %}
        {% endblock %}
      <hr>

      <footer>
        <p>&copy; <a href="http://masciulli.fr">Alexandre Masciulli</a> - <a href="http://thomaskeunebroek.fr">Thomas Keunebroek</a> - <a href="#">Maxime</a> 2013</p>
      </footer>

    </div>
  </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" language="javascript"
		src="{{ asset('js/bootstrap.js') }}"></script>

  </body>
</html>
