{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
  Modération - {{ parent() }}
{% endblock %}

{% block body %}

  
<div class="span12">
  <div class="page-header">
    <div class="row-fluid">
      <div class="span10">
        <p class="lead">Tu peux ici publier des news, ainsi que modérer les derniers ajouts sur UVweb, qui attendent d'être validés.</p>
      </div>
      <div class="span2">
        <a href="{{ path('uvweb_admin_add_news') }}"><button class="btn btn-primary"><i class="icon-plus icon-white"></i> Ajouter News</button></a>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div id="comment-list" class="span6">
        <div class="page-header">
          <h3>
            {% if comments|length > 0 %}
              <span id="count-comments-text"><span class="text-info">{{ comments | length }}</span> avis en attente de validation.</span>
            {% else %}
              <span id="count-comments-text">Pas d'avis en attente de validation.</span>
            {% endif %}
          </h3>
        </div>
        {% for comment in comments %}
          {% include 'UvwebUvBundle:Uv:comment_summary_not_approved.html.twig' with {'comment': comment} %}
        {% endfor %}
      </div>

      <div id="news-list" class="offset1 span5">
        <div class="page-header">
          <h3>Dernières news</h3>
        </div>
        {% for newsitem in news %}
          {% include 'UvwebUvBundle:Common:news_row_editable.html.twig' with { 'news': news } %}
        {% endfor %}
      </div>
    </div>
    
    <div class="row-fluid">
      <div id="uni-list" class="span6">
        <div class="page-header">
          <h3>
            {% if universities|length > 0 %}
              <span id="count-comments-text"><span class="text-info">{{ universities | length }}</span> universités en attente de validation.</span>
            {% else %}
              <span id="count-comments-text">Pas d'universités en attente de validation.</span>
            {% endif %}
          </h3>
        </div>
        {% for uni in universities %}
          {% include 'UvwebUvBundle:Unis:uni_summary_not_approved.html.twig' with {'uni': uni} %}
        {% endfor %}
      </div>

      <div id="uni-list" class="span6">
        <div class="page-header">
          <h3>
            {% if uvs|length > 0 %}
              <span id="count-comments-text"><span class="text-info">{{ uvs | length }}</span> cours en attente de validation.</span>
            {% else %}
              <span id="count-comments-text">Pas de cours en attente de validation.</span>
            {% endif %}
          </h3>
        </div>
        {% for uv in uvs %}
          {% include 'UvwebUvBundle:Unis:class_summary_not_approved.html.twig' with {'class': uv} %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

{% endblock %}

{% block js %}

<script type="text/javascript" language="javascript"
  src="{{ asset('js/uvweb-ajax-modal.js') }}"></script>

<script type="text/javascript" language="javascript">
$(function() {

  ajaxModal(); //Waiting for modal action

  checkCommentDeletion(); //Will update the number of comments to approve if a comment is refused or approved

});
</script>

{% endblock %}
