<div id="class-{{ class.id }}"  class="class-row well well-small">
  <div class="row-fluid">

    <div class="span3">
      <a href="{{ path('uvweb_uv_profile', { 'userid' : class.addedBy.id }) }}" class="thumbnail">
        <img src="{% if class.addedBy.displayAvatar == true %}{{ gravatar(class.addedBy.email, 80) }}{% else %}{{ gravatar('', 80) }}{% endif %}" alt="{% if class.addedBy.identity is not empty %}{{ class.addedBy.identity }}{% else %}{{ class.addedBy.login }}{% endif %}'s gravatar"/>
      </a>
    </div>

    <div class="span9">
      <div class="row-fluid">
        <div class="span12">
          <h4>
            <a href="{{ path('uvweb_uv_profile', { 'userid' : class.addedBy.id }) }}">
              {% if class.addedBy.identity is not empty %}
                {{ class.addedBy.identity }}
              {% else %}
                {{ class.addedBy.login }}
              {% endif %}
            </a>
             a proposé un nouveau cours
          </h4>
        </div>
      </div>
      <p>
        <strong>{{ class.title }}</strong> ({{class.name}}), situé à {{class.uni.name}} ({{class.uni.locationCity}}, {{class.uni.locationCountry}})
      </p>
    </div>

  {% block comment_footer %}{% endblock %}

  </div>
</div>
