{% extends "UvwebUvBundle::layout.html.twig" %}

{% form_theme add_university_form 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}

{% block title %}
    Ajouter une université étrangère - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Ajouter une université étrangère</h1>
    </div>
    <p>
        Remplis ce formulaire pour ajouter une université étrangère qui n'est pas encore enregistrée dans UVWeb.
    </p>
    <ul>
      <li>Le <strong>nom de l'université</strong> doit être écrit en <strong>français</strong> pour les universités francophones, et en <strong>anglais</strong> et <strong>romanisé</strong> pour les non-francophones. Il doit respecter le style du nom, et ne doit qu'indiquer le nom de l'université, et ne doit pas indiquer de faculté précise, ou de localisation géographique si cela ne fait pas partie du nom officiel de l'université. Concernant l'utilisation de diminutifs, elle est réservée aux universités dont le diminutif a du sens et est suffisamment unique pour ne pas créer de confusion - par exemple, s'il est utilisé oralement, qu'il est utilisé comme dénomination officielle et qu'il est suffisamment long pour qu'on ne le confonde pas avec une autre université. <em>Exemples :</em>
        <ul>
          <li><em>Exemple 1</em> : <del>카이스트</del>, <del>KAIST Daejeon</del>, <del>KAIST Computer Sciences</del>, <strong class="text-success">KAIST</strong>.</li>
          <li><em>Exemple 2</em> : <del>Montréal Polytechnic School</del>, <del>EPM</del>, <strong class="text-success">Polytechnique Montréal</strong> ou <strong class="text-success">Ecole Polytechnique de Montréal</strong>.</li>
        </ul>
      </li>
      <li>Le <strong>nom du pays</strong> doit être romanisé, et écrit en français. Un nom court est toléré dans la mesure où le pays qu'il représente est clair. <em>Exemple :</em> <del class="text-danger">Corée</del>, <del class="text-danger">South Korea</del>, <del class="text-danger">대한민국</del>, <strong class="text-success">Corée du Sud</strong>.</li>
    </ul>
    <div class="well">
        {{ form_errors(add_university_form) }}
        <form class="form-horizontal" method="post" {{ form_enctype(add_university_form) }}>
            {{ form_widget(add_university_form) }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-success">Valider</button>
              </div>
            </div>
            {{ form_rest(add_university_form) }}
        </form>
    </div>
{% endblock %}
