{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
    Cours ajouté - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Merci !</h2>
    </div>
    <div class="row-fluid">
        <div class="span12">
          <p>
            Le cours <em>{{ uv.title}}</em> de <strong>{{ uni.name }}</strong> est en cours d'évaluation, et sera ajouté après validation.
          </p>
          <p>
            <a class="btn" href="{{ path('uvweb_foreignclasses_list', { 'uniId': uni.id }) }}">Retour à {{ uni.name }}</a>
          </p>
        </div>
    </div>
{% endblock %}
