{% extends "UvwebUvBundle::layout.html.twig" %}

  {% block title %}
      UVweb version iOS
  {% endblock %}

  {% block body %}

		<div class="page-header">
		    <div class="row-fluid">
		    	<div class="span9">
				    <h1>Présentation du projet UVweb pour iOS</h1>
				</div>
				<div class="span3">
					<div class="pull-right">
						<img src="{{ asset('img/ios_app/ios_icon.png') }}" alt="Icône iOS" height="60" width="60">
					</div>
				</div>
			</div>
		</div>

	    <div class="row-fluid">
			<div class="span2">
				<ul class="nav nav-tabs nav-stacked">
                    <li {% if part == 'introduction' %}class="active"{% endif %}><a href="{{ path('uvweb_uv_about_ios', { 'part': 'introduction' }) }}">Introduction</a></li>
                    <li {% if part == 'comment' %}class="active"{% endif %}><a href="{{ path('uvweb_uv_about_ios', { 'part': 'comment' }) }}">Poster commentaire</a></li>
				    <li {% if part == 'demonstration' %}class="active"{% endif %}><a href="{{ path('uvweb_uv_about_ios', { 'part': 'demonstration' }) }}">Démonstration</a></li>
				    <li {% if part == 'about' %}class="active"{% endif %}><a href="{{ path('uvweb_uv_about_ios', { 'part': 'about' }) }}">Note et améliorations</a></li>
				</ul>
			</div>
			<div class="span10">
				{% if part == 'introduction' %}
					{{ include('UvwebUvBundle:Common:about_ios/ios_introduction.html.twig') }}
                {% elseif part == 'comment' %}
                    {{ include('UvwebUvBundle:Common:about_ios/ios_comment.html.twig') }}
				{% elseif part == 'demonstration' %}
					{{ include('UvwebUvBundle:Common:about_ios/ios_demo.html.twig') }}
				{% elseif part == 'about' %}
					{{ include('UvwebUvBundle:Common:about_ios/about.html.twig') }}
				{% endif %}
			</div>
	    </div>

  {% endblock %}