{% extends "UvwebUvBundle::layout.html.twig" %}

{% form_theme form_forgotten_account 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}

{% block title %}
Identifiants oubliés - {{ parent() }}
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
      <div class="page-header">
        <h1>Identifiants UVweb 1 oubliés</h1>
      </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="well">
      <p>
        Si tu as créé un compte sur le précédent service UVweb, et que tu souhaites migrer vers UVweb 2.0 mais que tu as oublié tes identifiants, entre ton adresse email en dessous. Nous t'enverrons un email contenant les coordonnées dont tu as besoin.
        <br/></br>
        Utilise ensuite la <a href="{{ path('uvweb_migration') }}">procédure de réinscription</a>.
      </p>
      <br/>
      {{ form_errors(form_forgotten_account) }}
      <form class="form-horizontal" action="{{ path('uvweb_forgottenaccount') }}" method="POST" accept-charset="utf-8" {{ form_enctype(form_forgotten_account) }}>
        {{ form_widget(form_forgotten_account) }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-success">Valider</button>
          </div>
        </div>
        {{ form_rest(form_forgotten_account) }}
      </form>
    </div>
  </div>
</div>
      
{% endblock %}