{% extends "UvwebUvBundle::layout.html.twig" %}

  {% block title %}
      {#{{ user.login }} - {{ parent() }}#}
      amasciul - {{ parent() }}
  {% endblock %}

  {% block style %}
  {% endblock %}

  {% block body %}
      <div class="page-header">
          <div class="row-fluid">
              <h1>{{ user.login }}</h1>
          </div>
      </div>
      <div class="media">
          <a class="pull-left" href="mailto:alexandre.masciulli@gmail.com">
              <img class="media-object img-polaroid" src="{{ gravatar('alexandre.masciulli@etu.utc.fr', 120) }}">
          </a>

          <div class="media-body">
              <ul class="unstyled">
                  <li>Vient de <strong>{{ user.origin }}</strong></li>
                  <li>Entrée à l'UTC : <strong>{{ user.firstSemester }} {{ user.firstYear }}</strong></li>
                  <li>Branche : <strong>{{ user.branch }}</strong></li>
                  {% if user.branch != 'TC' %}<li>Filière : <strong>{{ user.filiere }}</strong></li> {% endif %}
              </ul>
          </div>
      </div>
      <div class="page-header">
          <div class="row-fluid">
              <h3>Derniers commentaires</h3>
          </div>
      </div>
      {% for comment in comments %}
          <div class="span12">
              <div class="row-fluid">
                  <div class="span8">
                          <h2><a href="{{ path('uvweb_uv_detail', { 'uvname': comment.uv.name }) }}">{{ comment.uv.name }}</a> <small>({{ comment.passed }} en {{ comment.semester }})</small></h2>
                  </div>
                  <div class="span4 date text-right">
                      <h4>le {{ comment.date|date('d/m/Y') }}</h4>
                  </div>
              </div>
              <div class="row-fluid">
                  <div class="span8 comment">
                      <p>{{ comment.comment }}</p>
                  </div>
                  <div class="span4 well well-small">
                      <dl class="dl-horizontal">
                          <dt>Utilité</dt>
                          <dd>{{ comment.utility }}</dd>
                          <dt>Dose de travail</dt>
                          <dd>{{ comment.workamount }}</dd>
                          <dt>Intérêt</dt>
                          <dd>{{ comment.interest }}</dd>
                          <dt>Pédagogie</dt>
                          <dd>{{ comment.pedagogy }}</dd>
                          <dt>Note</dt>
                          <dd>{{ comment.globalRate }}/10</dd>
                      </dl>
                  </div>
              </div>
              <hr>
          </div>
      {% endfor %}
  {% endblock %}