{% extends "UvwebUvBundle::layout.html.twig" %}

  {% block title %}
      Profil de {{ user.identity }} - {{ parent() }}
  {% endblock %}

  {% block style %}
  {% endblock %}

  {% block body %}

      <div class="page-header">
          <div class="row-fluid">
            <div class="span6">
              <h1>{{ user.identity }}</h1>
            </div>
            <div class="span6">
              <a href="{{path('uvweb_user_edit' , { 'userid': user.id })}}" class="pull-right btn btn-primary"><i class="icon-pencil icon-white"></i> Éditer Profil</a>
            </div>
          </div>
      </div>

      <div class="media">

          {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.login == user.login %}
              <a href="http://fr.gravatar.com"  target="_blank" class="media-object img-polaroid pull-left"><img src="{{ gravatar(user.email, 120) }}"></a>
          {% else %}
              <img class="media-object img-polaroid pull-left" src="{{ gravatar(user.email, 120) }}">
          {% endif %}

          <div class="media-body">
              <ul class="unstyled">
                  <li>Vient de <strong>{{ user.origin }}</strong></li>
                  <li>Entrée à l'UTC : <strong>{{ user.firstSemester }}</strong></li>
                  <li>Branche : <strong>{{ user.branch }}</strong></li>
                  {% if user.filiere != '' %}<li>Filière : <strong>{{ user.filiere }}</strong></li> {% endif %}
                  {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.login == user.login %}<div style="margin-top: 10px;" class="alert alert-info"><li>Tu peux ajouter ou changer l'image qui apparaît sur ton compte à l'aide du service <a href="http://fr.gravatar.com" target="_blank">Gravatar</a>, qu'utilise UVweb.</li></div> {% endif %}
              </ul>
          </div>
      </div>

      {% if comments %}

          <div class="page-header">
              <div class="row-fluid">
                  <h3>Derniers commentaires</h3>
              </div>
          </div>

          {% for comment in comments %}
              {% include 'UvwebUvBundle:Profile:review_user_profile_row.html.twig' with {'comment': comment} %}
          {% endfor %}

      {% else %}

          <br>
          <div class="row-fluid">
            <div class="span12 well">
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.login == user.login %}
                    <p>Tu n'as pas encore posté d'avis sur UVweb</p>
                {% else %}
                    <p>{{ user.identity }} n'a pas encore posté d'avis sur UVweb.</p>
                {% endif %}
            </div>
          </div>
      {% endif %}
  {% endblock %}