{% extends "UvwebUvBundle::layout.html.twig" %}

{% form_theme add_user_form 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock %}

{% block style %}
.uvnumbercode {
    color : #72bbaa;
}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Bienvenue sur UVweb, {{ login }}.</h1>
    </div>
    <div class="alert alert-success">
        Ton compte UTC a été retrouvé avec succès. Inscris-toi rapidement sur UVweb pour poster des avis !
    </div>
    <div class="alert alert-info">
        Si tu souhaites lier un avatar à l'adresse email que tu utilises sur UVweb, il te faut utiliser le service <a href="http://fr.gravatar.com" target="_blank">Gravatar</a> en y créant un compte.
    </div>
    <div class="well">
        Si tu avais un compte sur l'ancienne version et que tu souhaites le récupérer, utilise la <a href="{{ path('uvweb_migration') }}">procédure de récupération de compte</a>.
    </div>
    <div class="well">
            {{ form_errors(add_user_form) }}
        <form class="form-horizontal" method="post" {{ form_enctype(add_user_form) }}>
            {{ form_widget(add_user_form) }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-success">Valider</button>
              </div>
            </div>
            {{ form_rest(add_user_form) }}
        </form>
    </div>
{% endblock %}