{% extends "UvwebUvBundle::layout.html.twig" %}

{% form_theme edit_user_form 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}
{% form_theme user_app_password_form 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}

{% block title %}
    Édition du profil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="page-header">
        <h2>Édition du profil</h2>
    </div>

    <div class="alert alert-info">
        Si tu souhaites lier un avatar à l'adresse email que tu utilises sur UVweb, il te faut utiliser le service <a href="http://fr.gravatar.com" target="_blank">Gravatar</a> en y créant un compte.
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="well">
                {{ form_errors(edit_user_form) }}
                <form class="form-horizontal" method="post" {{ form_enctype(edit_user_form) }}>
                    {{ form_widget(edit_user_form) }}
                    <div class="control-group">
                      <div class="controls">
                        <button type="submit" class="btn btn-success">Valider</button>
                      </div>
                    </div>
                    {{ form_rest(edit_user_form) }}
                </form>
            </div>
        </div>

        <div class="span6">
            <p>
                {% if app.user.password is not null %}
                    <h5 class="text-success">Tu as un mot de passe enregistré pour la version iOS.</h5>
                {% else %}
                    <h5 class="text-error">Tu n'as pas de mot de passe enregistré pour la version iOS.</h5>
                {% endif %}
                Choisis un mot de passe pour l'application mobile iOS afin de pouvoir poster des commentaires depuis des terminaux iOS.
                <br>
                <br>
                <strong>8 caractères minimum.</strong>
            </p>
            <div class="well">
                {{ form_errors(user_app_password_form) }}
                <form class="form-horizontal" method="post" {{ form_enctype(user_app_password_form) }}>
                    {{ form_widget(user_app_password_form) }}
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </div>
                    {{ form_rest(user_app_password_form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}