{% extends "UvwebUvBundle:Uv:all_list_layout.html.twig" %}

{% block title %}
	Toutes UVs {{ categoryName }} (Liste Dynamique) - {{ parent() }}
{% endblock %}

{% block stylesheets %}

{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/uvweb-table-hover.css') }}" type="text/css" />
{% endblock %}

{% block pageHeader %}		
	<h2>{{ categoryName }} : Toutes les UVs <small>Liste Dynamique</small></h2>
{% endblock %}

{% block mainRow %}

	<div class="span2">
		{% for letter, uvs in groupedUvs %}
			{% include 'UvwebUvBundle:Common:uv_table_dynamic_list.html.twig' with { 'noCommentCount': true, 'highlightRates': true, 'tableType': 'info', 'uvs': uvs, 'title': letter } %}
		{% endfor %}
		<button style="margin:0 auto; display:block;" class="btn btn-small" id="scroll-top-page">Haut de la liste</button>
	</div>

	<div class="span10" id="uv-container">
		<div class="alert alert-info">
			Cliquez sur une UV de la liste de gauche pour faire apparaître son contenu sur cette page.
		</div>
	</div>

{% endblock %}

{% block js %}
<script type="text/javascript" language="javascript">

$(function(){
	
	initDynamicList();

});

</script>
{% endblock %}