<div id="comment-{{ comment.id }}"  class="comment-row well well-small">
  <div class="row-fluid">

    <div class="span3">
      <a href="{{ path('uvweb_uv_profile', { 'userid' : comment.author.id }) }}" class="thumbnail">
        <img src="{% if comment.author.displayAvatar == true %}{{ gravatar(comment.author.email, 80) }}{% else %}{{ gravatar('', 80) }}{% endif %}" alt="{% if comment.author.identity is not empty %}{{ comment.author.identity }}{% else %}{{ comment.author.login }}{% endif %}'s gravatar"/>
      </a>
    </div>

    <div class="span9">
      <div class="row-fluid">
        <div class="span9">
          <h4>
            <a href="{{ path('uvweb_uv_profile', { 'userid' : comment.author.id }) }}">
              {% if comment.author.identity is not empty %}
                {{ comment.author.identity }}
              {% else %}
                {{ comment.author.login }}
              {% endif %}
            </a>
             a posté un nouveau commentaire sur 
             {% if comment.uv.uni != null %}
              <a href="{{ path('uvweb_foreignclass_details', { 'uvname': comment.uv.name, 'uniId': comment.uv.uni.id }) }}">{{ comment.uv.name }}</a> <small>({{comment.uv.uni.name}})</small>
             {% else %}
              <a href="{{ path('uvweb_uv_detail', { 'uvname': comment.uv.name}) }}">{{ comment.uv.name }}</a>
             {% endif %}
          </h4>
        </div>
        <div class="span3">
          <h6>Le {{ comment.date|date('d/m/Y') }}</h6>
          <h6 class="text-info">{{ comment.globalRate|number_format(2, ',', ' ') }}/10</h6>
        </div>
      </div>
      <p>
        {{ comment.comment|nl2br }}
      </p>
    </div>

  {% block comment_footer %}{% endblock %}

  </div>
</div>
