{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
	{{ uv.name | upper }} - {{ parent() }}
{% endblock %}

{% block style %}
.date {
	line-height:  40px;
	margin: 10px 0;
}
.comment {
	text-align: justify;
}
{% endblock %}

{% block body %}
	<div class="page-header">
		<div class="row-fluid">
			<div class="span8">
				<h1>{{ uv.name | upper }} <small>{{ uv.fullname }}</small></h1>
			</div>
			<div class="span4 text-right">
				<h2><small>Note moyenne : </small>{{ uv.averagerate | number_format(2, ',', ' ') }}/10</h2>
			</div>
		</div>
	</div>
	{% for comment in comments %}
		<div class="span12">
			<div class="row-fluid">
				<div class="span8">
					<div class="span2">
						<a href="" class="thumbnail">
					    	<img src="{{ gravatar(comment.authormail, 60) }}" alt="{{ comment.author }}'s gravatar"/>
					    </a>
					</div>
					<div class="span6">
						<h3>l'avis de <a href="">{{ comment.author }}</a> pour {{ comment.semester }}</h3>
					</div>
				</div>
				<div class="span4 date text-right">
					<h4>le {{ comment.date|date('d/m/Y') }}</h4>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8 comment">
					<p> {{ comment.comment }} </p>
				</div>
				<div class="span4 well well-small">
					<dl class="dl-horizontal">
						<dt>Utilité</dt>
						<dd>{{ comment.utility }}</dd>
						<dt>Dose de travail</dt>
						<dd>{{ comment.workamount }}</dd>
						<dt>Intérêt</dt>
						<dd>{{ comment.interest }}</dd>
						<dt>Pédagogie</dt>
						<dd>{{ comment.pedagogy }}</dd>
						<dt>Note</dt>
						<dd>{{ comment.globalrate }}/10</dd>
					</dl>
				</div>
			</div>
			<hr>
		</div>
	{% endfor %}
{% endblock %}