{% extends "UvwebUvBundle::layout.html.twig" %}

{% form_theme add_comment_form 'UvwebUvBundle:Form:bootstrap_row.html.twig' %}

{% block title %}
    Ton avis sur {{ uv.name }} - {{ parent() }}
{% endblock %}

{% block style %}
.uvnumbercode {
    color : #72bbaa;
}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><small>Ton avis sur </small>{{ uv.lettercode }}<span class="uvnumbercode">{{ uv.numbercode }}</span></h1>
    </div>
    <p>
        Ton avis sera soumis à modération une fois posté.
    </p>
    <p class="text-error">
        <em>N'oublie pas que les propos injurieux sont proscrits sur UVweb.</em>
    </p>
    <div class="well">
        {{ form_errors(add_comment_form) }}
        <form class="form-horizontal" method="post" {{ form_enctype(add_comment_form) }}>
            {{ form_widget(add_comment_form) }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-success">Valider</button>
              </div>
            </div>
            {{ form_rest(add_comment_form) }}
        </form>
    </div>
{% endblock %}