{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
    Ton avis sur {{ uv.name }} - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><small>Ton avis sur </small>{{ uv.name }}</h1>
    </div>
    <p class="text-error">
        <em>N'oublie pas que les propos injurieux sont proscrits sur UVweb.</em>
    </p>
    <div class="well">
        <form method="post" {{ form_enctype(add_comment_form) }}>
            {{ form_widget(add_comment_form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
{% endblock %}