{% extends "UvwebUvBundle::layout.html.twig" %}

{% block title %}
    Avis posté - {{ parent() }}
{% endblock %}

{% block style %}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Merci !</h2>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <p>
                Ton avis sur <a href="{{ path('uvweb_uv_detail', { 'uvname':uv.name }) }}">{{ uv.name | upper }}</a> sera publié après validation.
            </p>
            <p>
                <a class="btn" href="{{ path('uvweb_uv_detail', { 'uvname':uv.name }) }}">Retour à {{ uv.name | upper }}</a>
            </p>
        </div>
    </div>
{% endblock %}