<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span8">

				{% block specific_content %}{% endblock %}
				
	  		</div>
			<div class="span4 date text-right">
				<h4>Le {{ comment.date|date('d/m/Y') }}</h4>
			</div>
		</div>
		<div style="margin-top: 15px;" class="row-fluid">
			<div class="span8 comment">
				<p> {{ comment.comment|nl2br }} </p>
			</div>
			<div class="span4 well well-small">
				<dl class="dl-horizontal">
					<dt>Utilité</dt>
					<dd>{{ comment.utility }}</dd>
					<dt>Dose de travail</dt>
					<dd>{{ comment.workamount }}</dd>
					<dt>Intérêt</dt>
					<dd>{{ comment.interest }}</dd>
					<dt>Pédagogie</dt>
					<dd>{{ comment.pedagogy }}</dd>
					<dt>Note</dt>
					<dd>{{ comment.globalrate }}/10</dd>
				</dl>
			</div>
		</div>
		
		{% if not loop.last %}
			<hr>
		{% endif %}
		
	</div>
</div>
